.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.CreateTicket {
  background-color: black;
  min-height: 100vh;
  color: beige;
}

.ShowTicketList {
  background-color: black;
  height: 100%;
  width: 100%;
  min-height: 100vh;
  min-width: 100px;
  color: beige;
}






















.card-container {
  width: 280px;
  border: 1px solid rgba(11, 1, 1, 0.379);
  margin: 0 auto;
  border-radius: 5px;
  overflow: hidden;
  background-color: azure;
  text-align: center;
  color:#282c34;
  /* box-shadow: 4px 4px 4px 4px whitesmoke; */
}
.card-container>img {
    width: 280px;
}
.card-container>h2{
  font-size: large;
  color: cadetblue;
}

.list {
  display: grid;
  margin: 20px 0 50px 0;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 1fr;
  grid-gap: 2em;
}

.UpdateTicketInfo {
  background-color: black;
  min-height: 100vh;
  color: beige;
}

.ShowTicketDetails {
  background-color: black;
  min-height: 100vh;
  color: beige;
}